# Supabase
NEXT_PUBLIC_SUPABASE_URL=your-supabase-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

#JWT Public Key
SUPABASE_URL=your-supabase-project-url
SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
SUPABASE_JWT_PUBLIC_KEY=your-supabase-jwt-public-key

#Stripe
STRIPE_WEBHOOK_SECRET=your-cli-secret
STRIPE_SECRET_KEY=your-stripe-secret-key
